<!doctype html>

<html>
<head>
	<title>Judy Lin</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<link href="/css/bootstrap-responsive.css" rel="stylesheet">
	<link href="/css/art.css" rel="stylesheet">
	<script type="text/javascript">
	$(document).ready(function() {
	    $('.carousel').each(function(){
	        $(this).carousel('cycle');
	    });
	});​
	</script>
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>

	<div class="container">
		<!-- h1 through h6 are headers. The higher the number, the smaller the header -->
		<!-- p means paragraph -->
		<div class="jumbotron">
			<h1>Judy Lin</h1>
			<!--<p>human-computer interaction &middot; social computing &middot; crowdsourcing</p> -->
		</div>
		<div class="container">
			<div class="navbar">
			    <ul class="nav nav-pills">
			      <li><a href="/">Objective</a></li>
			      <li><a href="#">Projects</a></li>
			      <li><a href="#">Work Experience</a></li>
			      <li><a href="#">Education</a></li>
			      <li><a href="#">Skills</a></li>
			      <li><a href="#">Relevant Course</a></li>
			      <li class="active"><a href="#">Art Portfolio</a></li>
			      <li><a href="#">Contact</a></li>
			    </ul>
			</div>
		</div>

	

		<h1>Pieces from Vis 105A</h1>

			<div id="myCarousel" class="carousel slide">
			  <ol class="carousel-indicators">
			    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			    <li data-target="#myCarousel" data-slide-to="1"></li>
			    <li data-target="#myCarousel" data-slide-to="2"></li>
			    <li data-target="#myCarousel" data-slide-to="3"></li>
			    <li data-target="#myCarousel" data-slide-to="4"></li>
			    <li data-target="#myCarousel" data-slide-to="5"></li>
			    <li data-target="#myCarousel" data-slide-to="6"></li>
			    <li data-target="#myCarousel" data-slide-to="7"></li>
			  </ol>
			  <!-- Carousel items -->
			  <div class="carousel-inner">
			    
			    <div class="active item">
			    	<img src="../images/art/curtain1.jpg"></img>
			    	<div class="carousel-caption">
                             <h4>Folds and Light Pencil</h4>
                 	</div>
			    </div>
				<div class=" item"><img src="../images/art/curtain2.jpg"></img>
					<div class="carousel-caption">
                             <h4>Folds and Light Negative</h4>
                 	</div>
				</div>
				<div class=" item"><img src="../images/art/curtain3.jpg"></img>
					<div class="carousel-caption">
                             <h4>Folds and Light Negative White Pencil</h4>
                 	</div>
				</div>
				<div class=" item"><img src="../images/art/landscape.jpg"></img>
					<div class="carousel-caption">
                             <h4>Landscape</h4>
                 	</div>
				</div>
				<div class=" item"><img src="../images/art/portrait.jpg"></img>
					<div class="carousel-caption">
                             <h4>Self-Portrait</h4>
                 	</div>
				</div>
				<div class=" item"><img src="../images/art/still.jpg"></img>
					<div class="carousel-caption">
                             <h4>Still</h4>
                 	</div>
				</div>
				<div class=" item"><img src="../images/art/views.jpg"></img>
					<div class="carousel-caption">
                             <h4>Fear and Hope</h4>
                 	</div>
				</div>
				<div class=" item"><img src="../images/art/beautybeast.jpg"></img>
					<div class="carousel-caption">
                             <h4>Beauty or Beast</h4>
                 	</div>
				</div>
			  </div>
			  <!-- Carousel nav -->
			  <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
			  <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
			</div>
		</div>
	<div class="container">

	<hr />
	</div>
	<script> 
		//$('.carousel').carousel( 'cycle');
		$('#myCarousel').hover(function () {   
  				$(this).carousel('pause')   
		}; 

	 </script>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/art.js"></script>
</body>
</html>
