<!doctype html>

<html>
<head>
	<title>Judy Lin</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<link href="/css/bootstrap-responsive.css" rel="stylesheet">
	<link href="/css/project.css" rel="stylesheet">
	<script type="text/javascript">
	$(document).ready(function() {
	    $('.carousel').each(function(){
	        $(this).carousel('cycle');
	    });
	});​
	</script>
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>

	<div class="container">
		<!-- h1 through h6 are headers. The higher the number, the smaller the header -->
		<!-- p means paragraph -->
		<div class="jumbotron">
			<h1>Judy Lin</h1>
			<!--<p>human-computer interaction &middot; social computing &middot; crowdsourcing</p> -->
		</div>
		<div class="container">
			<div class="navbar">
			    <ul class="nav nav-pills">
			      <li class="active"><a href="#">Objective</a></li>
			      <li><a href="#">Projects</a></li>
			      <li><a href="#">Work Experience</a></li>
			      <li><a href="#">Education</a></li>
			      <li><a href="#">Skills</a></li>
			      <li><a href="#">Relevant Course</a></li>
			      <li><a href="/art">Art Portfolio</a></li>
			      <li><a href="#">Contact</a></li>
			    </ul>
			</div>
		</div>

		<h4>Objective</h4>
		<p>Interested in a Full Time position involving Software Development, Android Applications, and Databases.</p>
		<hr/>
		<h4>Projects</h4>
		<!-- divs are invisible structuring elements that stack vertically by default. Use them to organize your code -->
		<!-- img tags are images. Lorem Pixel will deliver random images; handy! -->
		<!-- a are anchors, also known as hyperlinks. Use the href attribute to tell the browser where to go when the user clicks -->
	<!--	{{#each projects}}
		<div class="project" id="project{{id}}">
			<div class="thumbnail">
				<a href="#"> -->
					<!--<img src="{{image}}" alt="Lorem Pixel image" class="img project-img">-->
				<!--	<p>{{title}}</p>
				</a>
				<div class="details"></div>
			</div>
		</div>
		{{/each}} -->

	
	<div class="box">
		<div class="leftcolumn">
			<h1>MyCloset Mobile Web App</h1>
			<p>(Heroku, HTML, CSS, Javascript, MongoDB, Node.js)</p>
			<p>MyCloset focuses on providing users a way to quickly filter excess information when choosing what clothes to wear or buy by giving users a virtual “closet” to store and compare clothing items</p>
			<p>&middot; Improved User Interface Design with protyping, Heuristic Evaluations<br>&middot; Implemented User Interface Design with HTML, CSS, Javascript<br>&middot; Integrated MongoDB as database for storing user data<br>&middot; Built on Node.js and hosted on Heroku 
			</p>
			<p>Link: mycloset.herokuapp.com</p>
			<p>
			</p>
		</div>
		<div class="rightcolumn">
			<div id="myCarousel" class="carousel slide">
			  <ol class="carousel-indicators">
			    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			    <li data-target="#myCarousel" data-slide-to="1"></li>
			    <li data-target="#myCarousel" data-slide-to="2"></li>
			    <li data-target="#myCarousel" data-slide-to="3"></li>
			    <li data-target="#myCarousel" data-slide-to="4"></li>
			    <li data-target="#myCarousel" data-slide-to="5"></li>
			    <li data-target="#myCarousel" data-slide-to="6"></li>
			    <li data-target="#myCarousel" data-slide-to="7"></li>
			    <li data-target="#myCarousel" data-slide-to="8"></li>
			  </ol>
			  <!-- Carousel items -->
			  <div class="carousel-inner">
			    <div class="active item"><img src="../images/slide.png"></img></div>
			    <div class="item">
			    	<iframe width="560" height="315" src="//www.youtube.com/embed/JJSVZbvyTdE" frameborder="0" allowfullscreen></iframe></div>
			    <div class="item"><img src="../images/snap.jpg"></img></div>
			    <div class="item"><img src="../images/upload.jpg"></img></div>
			    <div class="item"><img src="../images/itemadded.jpg"></img></div>
			    <div class="item"><img src="../images/mycloset.jpg"></img></div>
			    <div class="item"><img src="../images/createoutfit.jpg"></img></div>
			    <div class="item"><img src="../images/outfitcreated.jpg"></img></div>
			    <div class="item"><img src="../images/share.jpg"></img></div>
			  </div>
			  <!-- Carousel nav -->
			  <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
			  <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
			</div>
		</div>
	</div>
	</div> <!--close box div -->
	<div class="container">
	<hr />
	<div class="box">
		<div class="leftcolumn">
			<h1>UCEvents Android App</h1>
			<p>(Android, XML, Facebook SDK)</p>
			<p>UCEvents addresses the disconnect between students and the University by providing a place where UCSD students can safely find and create UCSD events.</p>
			<p>&middot; Setup Android activities and actionbar<br>&middot; Implemented User Interface Design <br>&middot; Integrated Facebook Login using the Facebook SDK <br>&middot; Organized group tasks to ensure completion of app
			</p>
			<p>Repo with apk: https://github.com/mkoba/Tinasaurus</p>
			<p>
			</p>
		</div>
		<div class="rightcolumn">
			<div id="myCarousel2" class="carousel slide">
			  <ol class="carousel-indicators">
			    <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
			    <li data-target="#myCarousel2" data-slide-to="1"></li>
			    <li data-target="#myCarousel2" data-slide-to="2"></li>
			    <li data-target="#myCarousel2" data-slide-to="3"></li>
			    <li data-target="#myCarousel2" data-slide-to="4"></li>
			    <li data-target="#myCarousel2" data-slide-to="5"></li>
			    <li data-target="#myCarousel2" data-slide-to="6"></li>
			    <li data-target="#myCarousel2" data-slide-to="7"></li>
			    <li data-target="#myCarousel2" data-slide-to="8"></li>
			  </ol>
			  <!-- Carousel items -->
			  <div class="carousel-inner">
			  	<div class="active item">
			    	<iframe width="560" height="315" src="//www.youtube.com/embed/lV1qwChiwU8" frameborder="0" allowfullscreen></iframe></div>
			    <div class="item"><img src="../images/ucevents/login.jpg"></img></div>
			    <div class="item"><img src="../images/ucevents/profile.jpg"></img></div>
			    <div class="item"><img src="../images/ucevents/events.jpg"></img></div>
			    <div class="item"><img src="../images/ucevents/category.jpg"></img></div>
			    <div class="item"><img src="../images/ucevents/eventlist.jpg"></img></div>
			  	<div class="item"><img src="../images/ucevents/schedule.jpg"></img></div>
			    <div class="item"><img src="../images/ucevents/eventcreated.jpg"></img></div>
			    <div class="item"><img src="../images/ucevents/editevent.jpg"></img></div>
			  </div>
			  <!-- Carousel nav -->
			  <a class="carousel-control left" href="#myCarousel2" data-slide="prev">‹</a>
			  <a class="carousel-control right" href="#myCarousel2" data-slide="next">›</a>
			</div>
		</div>
	</div> <!--close box div -->

	<hr />
	</div>
	<script> 
		//$('.carousel').carousel( 'cycle');
		$('#myCarousel').hover(function () {   
  				$(this).carousel('pause')   
		}; 

	 </script>
	 <script>
	 	$('#myCarousel2').hover(function () {   
  				$(this).carousel('pause')   
		}; 
	 </script>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/introHCI.js"></script>
</body>
</html>
